@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-slate-900 dark:text-white transition-colors;
    background-color: #F8FAFC;
  }

  .dark body {
    background-color: #0A0E1A;
  }
}
